PORT=8080
NODE_ENV=production

MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/tripstory?appName=Cluster0

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

CLIENT_ORIGIN=https://your-vercel-app.vercel.app

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

OPENAI_API_KEY=
KMA_SERVICE_KEY=
KTO_SERVICE_KEY=
